<div class="card">
    <div class="top-card">
        <div class="img-container">
            <img src="../../../../../assets/images/man.png" alt="">
        </div>
        <div class="top-text">
            <p class="report">Report For</p>
            <p class="best">Best Sales</p>
        </div>
    </div>
    <div class="secondary-bg bottom-card">
        <p class="py purple-text">Daily</p>
        <p class="py white-text">Weekly</p>
        <p class="py purple-text">Monthly</p>
    </div>
</div>