<div class="bg">
    <div class="card">
        <div class="first-line">
            <p class="men">men's clothing</p>
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <p class="price">109.95$</p>
        <div class="last-line">
            <p class="address">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
            <div class="InStore">InStore <p class="free">120</p>
            </div>
        </div>
    </div>
</div>