<div class="bg" [style.background-color]="backgroundColor">
    <div class="card">
        <div class="first-line">
            <p class="men">{{category}}</p>
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <div class="mobile">
            <p class="price">{{price}} <span>$</span></p>
            <div class="last-line">
                <p class="address">{{description | description}}</p>
                <div class="InStore">InStore <p class="free">{{count}}</p>
                </div>
            </div>
        </div>
    </div>
</div>