* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    src: url(assets/fonts/Rubik-VariableFont_wght.ttf) format("truetype");
}

html {
    scroll-behavior: smooth;
}